# next.js
frontend/.next
frontend/node_modules

# llm && ML models
backend/models
!backend/models/*.joblib

# pytest
**/.benchmarks
**/.pytest_cache
**/__pycache__

#Token && Credentials google
backend/src/token.json
backend/src/credentials.json

# environment
venv/
.env
frontend/.env.local

# macOS
**/.DS_Store

# Robe di Luca strane
ram_log.txt
mistral_sql_lora_schema
finetune_pesante.py
finetune.py
finetunelollo.py
ram_usage.py
sql_dataset_dedup.jsonl
sql_dataset_with_schema.jsonl
test_finetune.py
offload/

# parser_csv
db/parser_csv.py
db/FAQBuddy.csv

# rag
debugging_pinecone.json
